

:root {
    --primary-pink : #9D50BB;
    --primary-purple: #6E48AA;
    --textcolor: #f8f9fa;
    --mulish: 'Mulish', sans-serif;
    --kanit: 'Kanit', sans-serif;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;

}

/* Basic Essentials */

body {
    font-size: 62.5%;
    font-family: var(--mulish);

}

a {
    text-decoration: none;
    cursor: pointer;
    padding-bottom: .4rem;
    transition: border .4s;
}


ul {
    margin: 0;
}

li {
    list-style: none;
}

[name="menu"] {
    display: none;
}

/* Keyframes */

@keyframes moveAllDirection {
    20%   { 
        transform: translate(-30px, -50px); 
    }
    50% {
        transform: translate(50px, -20px); 
    }
    80%   { 
        transform: translate(10px, 50px); 
    }
    100%  { 
        transform: translate(-30px, 20px); 
    }
  }


/* Header Section Start */

.hero-container {
    height: 97vh;
    background-color: #f9fafa;
    color: #000;
    position: relative;
    overflow: hidden;
}

.hero__blob {
    height: 50rem;
    position: absolute;
    bottom: -8rem;
    right: -8rem;
}

header.nav__container {
    padding: 0 10vw;
}

.nav__top-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 2rem;
    padding-bottom: 1rem;
}

.nav__logo {
    font-family: var(--kanit);
    font-size: 4rem;
    color: #9900F0;
    font-weight: 600;
}

.nav__logo span {
    color: #4700D8;
}

.nav__search-box {
    flex-grow: 1;
    background-color: #fff;
    border-radius: 5px;
    border: 1px solid #9900F0;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: .5rem;
    height: 5vh;
    margin: 0 1rem;
}


.search-box-icons {
    color: #000;
    font-size: 1.4rem;
    margin-left: .5rem;
}

.search-box-input {
    width: 100%;
    height: 100%;
    border: none;
}

.search-box-input:focus {
    outline: none;
}

.nav__signup {
    color: #000;
    font-size: 1rem;
}

.nav__signup:hover {
    border-bottom: 2px solid #9900F0;
}

.primary-btn {
    background: #9900F0;
    color: #fff;
    padding: .6rem 1.2rem;
    border-radius: 3px;
    font-size: 1rem;
}


/* Bottom Nav Bar */

.nav__bottom-container {
    width: 100%;
}

.bottom-list {
    display: flex;;
    justify-content: space-between;
    align-items: center;
}

.bottom-listitem a{
    font-size: 1rem;
    color: #000;
}

.bottom-listitem a:hover {
    border-bottom: 3px solid #9900F0;
}



/* Hero section start */
.hero {
    margin: 0 10vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 70vh;
}



.hero__left-heading {
    font-size: 3.8rem;
    margin-top: 2rem;
    margin-bottom: 2rem;
    font-weight: 800;
}

.hero__left-text {
    font-size: .9rem;
    color: #222;
    margin-bottom: 5rem;
    width: 80%;
}

.hero__seemore {
    margin-left: 1.5rem;
    background: transparent;
    color: #000;
    padding: .6rem 1.2rem;
    border-radius: 3px;
    font-size: 1rem;
    border: 1px solid #4700D8;
    transition: all .3s;
}

.hero__seemore:hover {
    border: none;
    background-color: #4700D8;
    color: #fff;
}

.hero__right img {
    height: 30rem;
    margin-right: -4rem;
    animation: moveAllDirection 7s infinite;
}

/* Feature Section */

.features {
    margin: 0 10vw;
    padding: 12rem 0;
}

.main-heading {
    font-size: 2.5rem;
    font-weight: 700;
}

.main-heading::after {
    content: '';
    display: block;
    height: 5px;
    width: 10%;
    background-color: #4700D8;
    margin-bottom: 4rem;
}

.features__cards {
    display: flex;
    justify-content: space-between;
    align-items: center;
}




.feature__cards-card {
    background-color: #f9fafa;
    color: #000;
    padding: 2rem 3rem;
    border-radius: 8px;
    margin-right: 1rem;
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.598);
    transition: all .3s;
}

.feature__cards-card:hover {
    transform: scale(1.05);
}

.feature-iconbox {
    display: flex;
    justify-content: flex-start;
    gap: 1rem;
    align-items: center;
    margin-bottom: 1rem;
}

.feature-iconbox ion-icon {
    font-size: 1.5rem;
    color: #4700D8;

}

.card__circle {
    background-color: #9D50BB;
    border-radius: 50%;
    height: 7rem;
    width: 7rem;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto 2rem auto;

}

.card__circle img {
    width: 100%;
}

.card__illust-1 {
    margin-left: -2rem;
    height: 5rem;
}

.card-number {
    font-size: 2.5rem;
    font-weight: 800;
}

.card-text {
    font-size: 1rem;
    font-weight: 300;
}

/* Hall Of Fame Section start */

section.fame {
    padding: 6rem 10vw;
}


.fame__heading::after {
    content: '';
    display: block;
    height: 5px;
    width: 50%;
    background-color: #4700D8;
    margin-bottom: 3rem;
}

.fame__textbox {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.view-more {
    font-size: 1rem;
    color: #000;
}

.fame__cards {
    display: flex;
    justify-content: space-between;
}

.fame__card {
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 20px 20px rgba(0, 0, 0, 0.3);
  overflow: hidden;
  width: 31%;
  transition: all .3s ease;
}

.fame__card:hover {
    transform: scale(1.03);
}

.card-header img {
    width: 100%;
    height: 200px;
    object-fit: cover;
}

.card-body {
    padding: 2rem;
    display: flex;
    flex-direction: column;
    gap: .7rem;
}

.card-body .name {
    font-size: 1.5rem;
    font-weight: 700;
}

.card-body .designation {
    font-size: .8rem;
    color: #1d1b1b;
    font-weight: 300;
}

.card-body .message {
    font-size: 1rem;
    line-height: 1.2;
    font-weight: 400;
}


/* Achievers Section */

section.achievers {
    padding: 5rem 10vw;
    background-color: #f9fafa;
}


.achievers__heading::after {
    content: '';
    display: block;
    height: 5px;
    width: 10%;
    background-color: #4700D8;
    margin-bottom: 3rem;
}

.achievers__imgs {
    display: flex;
    justify-content: space-between;
    height: 90%;
}

.achievers__imgs img {
    height: 3.5rem;
}

/* Courses */

section.courses {
    padding: 10rem 10vw;
    color: #000;
    background-color: #f9fafa;
}


.courses__textbox {
    display: flex;
    justify-content: space-between;
    margin-bottom: 2rem;
}

.courses__heading {
    content: '';
    display: block;
    height: 5px;
    width: 60%;
    margin-bottom: 3rem;
}

.courses__more {
    color: #000;
}

.courses-cards {
    display: flex;
    justify-content: space-between;
}

.courses-card {
    width: 30%;
    background-color: #fff;
    color: #000;
    position: relative;
    transition: all .4s;
    border-bottom: 8px solid #9900F0;
}

.courses-card:hover {
    box-shadow: 0 10px 30px #9900F0;
    transform: scale(1.05);
}


.info-container {
    padding: 1rem;
}

.card-img-container {
    width: 100%;
}

.card-img-container > img {
    width: 100%;
}

.courses-card .title {
    font-size: 1.5rem;
    margin-bottom: 10px;
}

.courses-card .author {
    font-size: 1rem;
    margin-bottom: 10px;
}

.courses-card .price {
    font-size: 2rem;
    font-weight: 800;
    color: #4700D8;
}

.live {
    background-color: #a00;
    color: #fff;
    font-size: 12px;
    width: max-content;
    padding: 6px 12px;
    position: absolute;
    bottom: 5%;
    right: 5%;
}

/* Comapny Section */

section.company {
    padding: 4rem 0;
}

.company__heading {
    padding: 0 10vw;
}

.company__imgs {
    display: flex;
    justify-content: space-between;
    padding: 3rem 10vw;
    border-radius: 1rem;
}

.company__imgs img {
    height: 3rem;
}

/* Product Section */

section.products {
    padding: 4rem 10vw;
}

.product__cards {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, max-height);
    gap: 3rem;
}

.product__card {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    background-color: #f8f9fa;
    border-radius: 6px;
    padding: 2rem;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.324);
    transition: all .3s;
}

.product__card:hover {
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.324);
    transform: translateY(-5px);
}

.product-img-container {
    height: 7rem;
    object-fit: cover;
    margin-right: 1rem;
}

.product-img-container img {
    height: 100%;
}

.product-desc .product-name{
    font-size: 2rem;
    font-weight: 700;
    color: #000;
    margin-bottom: 15px;
}

.product-desc .product-info {
    font-size: 13px;
    font-weight: 400;
    color: #1d1b1b;
}

/* Subscribe Section */

section.subscribe {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 6rem 10vw;
}

.subscribe__left {
    width: 100%;
    margin-right: 2rem;
}



form.subscribe__form {
    width: 100%;
    height: 3rem;
}

.subscribe-input {
    width: 70%;
    height: 100%;
    border: 1px solid #4700D8;
    border-radius: 6px;
    padding: 0 1rem;
    font-weight: 700;
}

.subscribe-input:focus {
    outline: none;
}

.subscribe-btn {
    border: none;
    height: 98%;
    background-color: #4700D8;
}

.subscribe__right {
    width: 30vw;
    
}

.subscribe__right img {
    animation: moveAllDirection 5s infinite;;
}

/* footer start */

.footer {
    background: #9900F0;
    padding: 3rem 10vw;
    color: #fff;
    display: grid;
    grid-template-columns: 2fr 1fr 1fr 1fr;
}

.footer__logo {
    font-family: var(--kanit);
    font-size: 3rem;  
    grid-column: 1/5;
    margin-bottom: 1.2rem;
}

.address-box {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    width: 80%;
    gap: 20px;
    margin-bottom: 1.2rem;
}

.address-box  ion-icon {
    font-size: 4rem;
}

.address-box  ion-icon:hover {
    color: #4700D8;
}
.address {
    font-size: 15px;
}

.email-box {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 80%;
    gap: 20px;
}

.email-box  ion-icon {
    font-size: 2rem;
}
.email-box  ion-icon:hover {
    color: #4700D8;
}

.email {
    font-size: 15px;
}


.main {
    font-size: 1rem;
    margin-bottom: 1rem;
}

.item {
    font-size: .8rem;
    margin-bottom: 5px;
    color: rgb(217, 216, 216);
    cursor: pointer;
}

.footer-icon {
    font-size: 1.5rem;
    margin: 1.3rem 1.6rem 0 0;
}

[name="logo-facebook"]:hover {
    color: #4867aa;
}

[name="logo-twitter"]:hover {

    color: #1da1f1;
}

[name="logo-linkedin"]:hover {

    color: #0177b5;
}

[name="logo-youtube"]:hover {

    color: #fe0000;
}



@media only screen and (max-width: 800px) {
    .hero-container {
        width: 100vw;
        margin: 0;
        padding: 0;
        height: max-content;
    }

    .hero__blob {
        height:30rem;
        position: absolute;
        bottom: -4rem;
        right: -4rem;
    }

    .nav__logo {
        font-size: 3rem;
    }

    header.nav__container {
        padding: 0 4vw;
    }

    .hero{
        flex-direction: column-reverse;
        margin: 0;
        text-align: center;
        margin: 0 4vw;
        display: flex;
        justify-content: center;
        align-items: flex-start;
        /* height: 7vh;  */
    }

    .hero__left-heading {
        font-size: 2rem;
    }

    .hero__right img {
        height: 20rem;
    }

    .hero__blob {
        top: 3rem;
        left: 6rem;
        height: 25rem;
    }

    .main-heading {
        font-size: 2rem;
    }

    .feature__cards-card {
        width: 250px;
    }

    .features {
        margin: 0 4vw;
        padding: 6rem 0;
        text-align: center;
    }

    .main-heading {
        margin-bottom: 2rem;
    }

    .main-heading::after {
        content: '';
        display: none;
    }

    .card__circle {
        height: 6rem;
        width: 6rem;
    }
    .card__circle img {
        height: 4rem;
        width: 4rem;
    }

    .card-number {
        font-size: 1.5rem;
    }

    .achievers {
        padding: 3rem 4vw;
        text-align: center;
    }

    .achievers__imgs img{
        height: 2rem;
    }

    .fame {
        padding: 3rem 4vw;
        text-align: center;
    }

    .fame__cards {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        gap: 2rem;
    }

    .fame__card {

        background-color: #fff;
      border-radius: 10px;
      box-shadow: 0 20px 20px rgba(0, 0, 0, 0.3);
      overflow: hidden;
      width: 80%;
      transition: all .3s ease;
    }

    section.courses {
        text-align: center;
        padding: 5rem 4vw;
    }

    .courses-cards {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
    }

    .courses-card {
        width: 80%;
        margin-bottom: 2rem;
        padding-bottom: 3rem;
    }

    .courses-card .title {
        margin-bottom: 2rem;
    }

    .courses-card .author {
        margin-bottom: 2rem;
    }

    .courses-card .price {
        font-size: 2rem;
        font-weight: 800;
        color: #4700D8;
        position: absolute;
        bottom: 1rem;
        left: 1rem;
    }

    .company {
        padding: 3rem 4vw;
        text-align: center;
    }

    .company__imgs img{
        height: 2rem;
    }

    .products {
        padding: 3rem 4vw;
        text-align: center;
    }

    .product__card {
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
    }

    .product-desc .product-name {
        font-size: 1rem;
        margin-bottom: 10px;
    }

    .product-img-container {
        height: 4rem;
        object-fit: cover;
        margin-right: 1rem;
        margin-bottom: 1.5rem;
    }

    .footer {
        padding: 3rem 4vw;
    }

    .address-box .address {
        font-size: .7rem;
    }

    .email-box .email {
        font-size: .7rem;
    }
}



@media only screen and (max-width: 390px) {
    .hero-container {
        width: 85vw;
        margin: 0;
        padding: 0;
        height: max-content;
    }

    .hero__blob {
        display: none;
    }

    .nav__logo {
        font-size: 2rem;
    }

    header.nav__container {
        padding: 0 4vw;
    }

    .nav__search-box {
        display: none;
    }

    .nav__signup {
        display: none;
    }

    .nav__signin {
        display: none;
    }

    .nav__bottom-container {
        display: none;
    }

    [name="menu"] {
        display: block;
        position: absolute;
        top: 10px;
        right: 10px;
        color: #000;
        font-size: 1rem;
    }

    .hero{
        flex-direction: column-reverse;
        margin: 0;
        text-align: center;
        margin: 0 4vw;
        display: flex;
        justify-content: center;
        align-items: flex-start;
        /* height: 7vh;  */
    }

    .hero__left {
        text-align: center;
    }

    .hero__left-heading {
        font-size: 1.4rem;
    }

    .hero__left-text {
        margin-left: 1.5rem;
    }

    .hero__right img {
        display: none;
    }

    .hero__blob {
        top: 3rem;
        left: 6rem;
        height: 25rem;
    }

    .primary-btn {
        font-size: 10px;
    }

    .hero__seemore {
        font-size: 10px;
    }

    .main-heading {
        font-size: 1.2rem;
        margin-bottom: 1rem;
    }

    

    .features {
        margin: 0;
        width: 85vw;
        padding: 3rem 0;
        text-align: center;
    }

    .features__cards {
        flex-direction: column;
    }

    .feature__cards-card {
        width: 200px;
        padding: 1rem;
        margin-bottom: 1rem;
    }

    .main-heading::after {
        content: '';
        display: none;
    }

    .card__circle {
        height: 6rem;
        width: 6rem;
    }
    .card__circle img {
        height: 4rem;
        width: 4rem;
    }

    .card-number {
        font-size: 1.2rem;
    }

    .card-text {
        font-size: 12px;
    }

    section.achievers {
        width: 85vw;
        padding: 2rem;
        text-align: center;
    }

    .achievers__imgs {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 10px;
    }

    .achievers__imgs img{
        height: 1.5rem;
    }

    .fame {
        width: 85vw;
        padding: 3rem 1rem;
        text-align: center;
    }

    .view-more {
        font-size: 10px;
    }

    .fame__cards {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        gap: 2rem;
    }

    .fame__card {
      background-color: #fff;
      border-radius: 10px;
      box-shadow: 0 20px 20px rgba(0, 0, 0, 0.3);
      overflow: hidden;
      width: 80%;
      transition: all .3s ease;
    }

    .card-body {
        padding: 12px;
    }

    .card-body .name {
        font-size: 1.2rem;
    }

    .card-body .designation {
        font-size: 12px;
    }

    .card-body .message {
        font-size: 12px;
    }

    section.courses {
        text-align: center;
        padding: 3rem 1rem;
        width: 85vw;
    }

    .courses__heading {
        font-size: 18px;
    }

    .courses-cards {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
    }

    .courses-card {
        width: 80%;
        margin-bottom: 2rem;
        padding-bottom: 3rem;
    }

    .courses-card .title {
        font-size: 1rem;
        margin-bottom: 1rem;
    }

    .courses-card .author {
        font-size: 13px;
        margin-bottom: 2rem;
    }

    .courses-card .price {
        font-size: 1.5rem;
        font-weight: 800;
        color: #4700D8;
        position: absolute;
        bottom: 1rem;
        left: 1rem;
    }

    .live {
        font-size: 10px;
    }

    .company {
        width: 85vw;
        padding: 1rem;
        text-align: center;
    }

    .company__imgs { 
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 12px;
    }

    .company__imgs img{
        height: 1.5rem;
    }

    .products {
        width: 85vw;
        padding: 1rem;
        text-align: center;
    }

    .product__cards {
        grid-template-columns: 1fr;
        grid-template-rows: repeat(2, max-height);
        gap: 1rem;
    }

    .product__card {
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
    }

    .product-desc .product-name {
        font-size: 1rem;
        margin-bottom: 10px;
    }

    .product-img-container {
        height: 4rem;
        object-fit: cover;
        margin-right: 1rem;
        margin-bottom: 1.5rem;
    }

    .subscribe__form {
        text-align: center;
    }

    .subscribe-input {
        height: 30px;
    }

    .subscribe-btn {
        font-size: 12px;
        border: none;
        height: 30px;
        margin-top: 1rem;
        background-color: #4700D8;
    }

    .subscribe__right {
        display: none;
    }

    .footer {
        width: 85vw;
        padding: 3rem 4vw;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: flex-start;
        gap: 2rem;
    }

    .footer__logo {
        font-size: 2rem;
    }

    .address-box .address {
        font-size: 12px;
    }

    .email-box .email {
        font-size: 12px;
    }

    .footer-icon {
        font-size: 20px;
    }
}